mkdocs
jupyter
mkdocs-material
mkdocs-add-number-plugin
mkdocs-kroki-plugin==0.3.0
mkdocs-minify-plugin
mkdocs-table-reader-plugin
mkdocs-section-index
mkdocs-literate-nav
markdown_checklist
neoteroi-mkdocs
markdown-exec
diagrams
mknotebooks
matplotlib
jieba
mkdocs-print-site-plugin
plantuml-markdown
mkdocs-video
md-tooltips
mkdocs-exclude
mkdocs-bibtex
pypandoc
mkdocs-simple-plugin